@font-face {
    font-family: 'NunitoSans';
    src: url('NunitoSans-Regular.ttf');
}

.user-list {
    -fx-background-color: #fff1e9;
    -fx-background-radius: 15;
}

.text-area {
    text-area-background: #fcf9ea;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    -fx-background-radius: 15;
}

.menu-button {
    -fx-font-family: NunitoSans;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
}

.draw-btn {
    -fx-font-family: NunitoSans;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(to right bottom, #FBDB89, #F48982);
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 15;
}
.draw-btn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

.send-btn {
    -fx-font-family: NunitoSans;
    -fx-font-weight: 700;
    -fx-font-size: 15px;
    -fx-background-color: linear-gradient(to right bottom, #FBDB89, #F48982);
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 15;
}
.send-btn:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}




* {
    -fx-my-menu-color: linear-gradient(to right bottom, #FBDB89, #F48982);

    /*-fx-my-menu-color-highlighted: #FFFFFF; */
    /*-fx-my-menu-font-color: #FFFFFF; */
    /*-fx-my-menu-font-color-highlighted: #FFFFFF; */
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
/*.menu-bar > .container > .menu-button {*/
/*    -fx-background-color: -fx-my-menu-color;*/
/*    -fx-background-radius: 10;*/
/*}*/

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: black;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    /*-fx-background-color: -fx-my-menu-color-highlighted;*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    /*-fx-text-fill: -fx-my-menu-font-color-highlighted;*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: black;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    /*-fx-background-color: -fx-my-menu-color-highlighted;*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    /*-fx-text-fill: -fx-my-menu-font-color-highlighted;*/
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}